:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --white-color: #ffffff;
    --black-color: #000000;
    --background-team-color: #f5f4fa;
    --background-hero-footer: #2f303a;
    --accent-color: #2196f3;
    --button-active-color: #188ce8;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);

    --count-cards: 3;
}