.advances {}

.advances-container {}

.advances__list {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: -30px;
}

.advances__item {
    margin-left: 30px;
    flex-basis: calc(100% / 4);
}

.advances__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.advances__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.advances__icon-bg {
    background-color: var(--background-team-color);
    padding: 25px 102px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.advances__icon {}